@charset "utf-8";
/* CSS Document */

/*CSS for body*/
.container {
	width: 1280px;
	min-height: 768px;
	background: url(../Images/BackgroundImg.jpg) fixed no-repeat;
	margin: 0 auto;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
} 

#boxes .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 15px;
  text-align: center;
}

#boxes #dialog {
  width:500px; 
  height:auto;
  padding:20px;
  background-color:#ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  color: #000;
  font-size: 15pt;
}

.agree {
	color: black;
	text-decoration: none;
	font-size: 22px;
}

.agree:hover{
	color: #797979;
	text-decoration: underline;
	text-decoration-color: #797979;	
}

/*CSS for header*/
header {
	width: 100%;
	height: 250px;
}

/*CSS for nav*/
nav {
	width: 100%;
	height: 30px;
	background-color: #000000;
}

nav a {
	color: #FFF;
	font-size: 20px;
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	text-decoration: none;
	width: 255px;
	height: 30px;
	text-align: center;
	float: left;
	line-height: 30px;
	border-left: 0.5px #FFF solid;
}

nav a:hover {
	color: #000;
	background-color: #CCCCCC;
}

/*CSS for article*/
article {
	width: 100%;
	min-height: 800px;
}

.textline {
	width: 95%;
	margin-left: 30px;
}

.homeimg {
	width: 800px;
	height: 1000px;
	margin: 20px 240px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
}

/*CSS for footer*/
footer {
	width: 100%;
	height: 200px;
	border-top: 5px #000 solid;
	border-bottom: 5px #000 solid;
}

.footer_left {
	width: 50%;
	height: 200px;
	float: left;
	font-size: 18px;
	padding-top: 5px;
	padding-left: 20px;
}

ul li {
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.copyright {
	margin-top: 30px;
}


.footer_right {
	width: 45%;
	height: 200px;
	float: right;
	text-align: center;
	font-size: 20px;
}

.footer_right a {
	text-decoration: none;
	margin-left: 35px;
	margin-right: 35px;
}
